/* General Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header Styling */
header nav {
    padding: 0.7rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
}

.cloudy-logo {
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: white;
}

.logout-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.logout-icon:hover {
    color: #ff4747;
}

/* Body and Dashboard Styling */
body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.907);
    min-height: 100vh;
    padding-top: 50px; /* Adjust for header height */
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    align-items: start;
}

.box {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.2s;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-box {
    grid-column: span 2; /* Profile box spans two columns */
}

.storage-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#storageChart {
    width: 100%;
    height: 150px;
}

/* Footer Styling */
footer {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(89, 88, 88, 0.422);
    color: rgba(255, 255, 255, 0.668);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    margin-top: auto;
}

.footer-div {
    display: flex;
    font-size: 0.8rem;
    align-items: center;
}

.sep {
    background-color: rgba(255, 255, 255, 0.668);
    height: 10px;
    width: 1px;
    margin: 0 10px;
}